<!-- Nav -->
  <div class="row">
    
    <div class="four columns">
    
      <a href="/" class="logo"><img src="/assets/images/st_logo125.svg" alt="{{ site.data.global.title }}" aria-hidden="true" /></a>
    
    </div>
    
    <div class="eight columns">
    
      <h5>{{ site.data.global.title }}</h5>
      <p>{{ site.data.global.motto }}</p>
    
    </div>

  </div>

  <div class="row">
  
    <nav id="menu">
      <ul class="links">
        {% for item in site.menus.header %}
        <li class="menu-item-{{ loop.index }}">
          <a href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.pre }} {{ item.title }}</a>
        {% endfor %}
      </ul>
      <!-- <ul class="actions stacked">
        <li><a href="#" class="button primary fit">Log In</a></li>
      </ul> -->
    </nav>
  
  </div>

