---

---
{% comment %}
	The default layout for the site, which is extended by all other layouts.
{% endcomment %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

{% if page.title == "Home" %}
<body class="admin">
{% else %}
<body class="landing">
{% endif %}

<div class="container-fluid">

  <main class="row vert-expand">
    
    <div class="col-3 sidebar-nav">
    
      {%- include navigation.html -%}
    
    </div>
     
    <div class="col-9" aria-label="Content">
      {% comment %}
        Any layout that extends this layout will have its contents
        added as the {{content}} variable.
      {% endcomment %}

      {{ content }}
    </div>
  </main>

  <!-- JS scripts get loaded last-->
	<script src="{{ "/assets/js/htmx.min.js" | relative_url }}" defer></script>

</div>

  </body>
</html>

